<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email</title>
</head>
<body>
    <h1>Here are things you need to know about COVID-19 </h1>
    <img src="https://epicentre.msf.org/sites/default/files/styles/crop_media_block_text_img_lr/public/2020-04/Covid-19_virus.jpg?itok=6cltV3eU"
          width="360" height= "360" >
    <p>
    <h2>What is COVID-19? </h2><br>
        COVID-19 refers to the cluster of viral pneumonia cases occurring in Wuhan, Hubei Province, since December 2019. According to investigation by the Mainland health authorities, a novel coronavirus is found to be the causative agent.
        <br>
        <br>
    <h2>What is the common symptoms of COVID-19?</h2>
        <br>
        <br>
        The most common symptoms of COVID-19 include fever, malaise, dry cough and shortness of breath. Other symptoms include nasal congestion, headache, conjunctivitis, sore throat, diarrhoea, loss of taste or smell, skin rash or discolouration of fingers or toes. Some people become infected but only have very mild or non-specific symptoms. According to the World Health Organization, about 20% of the cases may develop serious illness with breathing difficulty. People of older age or having underlying diseases (e.g. hypertension, heart and lung problems, diabetes, or cancer) are at a higher risk of deterioration into serious condition.
        <br>
        <br>
    <h2>How does COVID-19 transmit?</h2>
        <br>
        <br>
        The main mode of transmission is through respiratory droplets, the virus can also be transmitted through contact. Most estimates of the incubation period range from 1 to 14 days, most commonly around 5 days.
        <br>
        <br>
    <h2>How can we prevent COVID-19?</h2>
        <br>
        <br>
        To prevent pneumonia and respiratory tract infection, members of the public should maintain good personal hygiene at all times and keep both hands clean. When travelling outside Hong Kong, do not touch animals; do not eat game meat; and avoid visiting wet markets, live poultry markets or farms. After returning to Hong Kong, if you have a fever or other symptoms, wear a surgical mask, consult a doctor promptly and reveal your recent travel history.
    </p>
    <br>
    <br>
    <h2>To Track the latest COVID-19 cases, </h2>
    <a href="https://coronavirus.1point3acres.com/"> Click Here!</a>
    <h2>If you want to know more information about COVID-19, </h2>
    <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic"> Click Here!</a>
</body>
</html>